<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237481333227-pcegg2f53rt7cktnp52e9du3s0j5hb2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237481333227-pcegg2f53rt7cktnp52e9du3s0j5hb2u</string>
	<key>API_KEY</key>
	<string>AIzaSyAyhb3xezb9KB-kylwe56hdlDr2kXZ4Cig</string>
	<key>GCM_SENDER_ID</key>
	<string>237481333227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-f569d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-f569d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237481333227:ios:d25a71325f40df498609ae</string>
</dict>
</plist>